<% if @user.photos.any? %>
  <div class="nameplate border-bottom flex">
    <div class="two-column center">
      <div id="album-button" class="active-tab">
        Albums
      </div>
    </div>
    <div class="two-column center">
      <div id="feed-button" class="deactive-tab">
        Feed
      </div>
    </div>
  </div>
<% elsif @user.albums.any? && @user.following.count > 0 %>
  <div class="nameplate border-bottom flex">
    <div class="two-column center">
      <div id="album-button" class="active-tab">
        Albums
      </div>
    </div>
    <div class="two-column center">
      <div id="feed-button" class="deactive-tab">
        Feed
      </div>
    </div>
  </div>
<% end %>